.site-footer{
    background-color: bisque;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-menu-item{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 82%;
}

.footer-menu__nav{
    width: 65%;
    height: 70px;
}

.footer-contact{
    width: 30%;
}

.footer-contact__list{
    width: 40%;
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.footer-contact__item{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    display: flex;
    padding: 5px; 
}
.footer-menu__link {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}

.footer-menu__number{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    display: flex;
    padding: 5px; 
}

.footer-menu__list{
    padding: 15px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.footer-menu__item{
    display: flex;
    padding: 5px;
}

.footer-contact__social{
    width: 30px;
    height: 30px;
}
.footer-contact__social2{
    width: 35px;
    height: 35px;
}

.footer-menu__phone{
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;  
}

@include desktop-first(992px) { 
    .footer-menu-item{
        flex-wrap: wrap;
        width: 75%;
    }     
    .footer-menu__nav{
        width: 100%;
    }
    .footer-contact{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer-menu__phone{
        width: 50%;
        padding: 8px 5px;
    }
}

@include desktop-first(775px) {
    .footer-menu-item{
        width: 75%;
    }
    .footer-menu__nav{
        height: 40px;
    }
    .footer-menu__list{
        padding: 5px 0;
    }
    .footer-menu__link {
        font-weight: 500;
        font-size: 18px;
    }
    .footer-menu__number{
        font-weight: 400;
        font-size: 16px;
    }
    .footer-contact__social{
        width: 20px;
        height: 20px;
    }
    .footer-contact__social2{
        width: 25px;
        height: 25px;
    }
}

@include desktop-first(575px) {
    .footer-menu{
        padding: 15px 0;
    }
    .footer-menu-item{
        width: 70%;
    }
    .footer-menu__nav{
        width: 30%;
        height: 100%;
    }
    .footer-menu__list{
        flex-direction: column;
        padding: 0;
    }
    .footer-menu__item{
        align-items:normal;
        padding: 0;
    }
    .footer-menu__link{
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
    .footer-contact{
        flex-direction: column;
        width: 60%;
    }
    .footer-contact__list{
        width: 80%;
    }
    .footer-menu__phone{
        width: 100%;
    }
    .footer-menu__number{
        font-size: 14px;
    }
}

@include desktop-first(440px) {
    .footer-menu{
        padding: 10px 0;
        flex-direction: column;
        align-items:center;
    }
    .footer-menu-item{
        flex-direction: column;
        align-items: center;
    }
    .footer-menu__nav{
        width: 100%;
        height: 100%;
    }
    .footer-contact{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-contact__list{
        width: 100%;
    }
    .footer-menu__phone{
        width: 170px;
    }
}

